@import "tailwindcss";
@plugin "@tailwindcss/forms";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-size-xs: 0.75rem;
  --font-size-xs--line-height: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-sm--line-height: 1.5rem;
  --font-size-base: 1rem;
  --font-size-base--line-height: 1.5rem;
  --font-size-lg: 1.125rem;
  --font-size-lg--line-height: 2rem;
  --font-size-xl: 1.25rem;
  --font-size-xl--line-height: 1.75rem;
  --font-size-2xl: 1.5rem;
  --font-size-2xl--line-height: 2rem;
  --font-size-3xl: 2rem;
  --font-size-3xl--line-height: 3rem;
  --font-size-4xl: 2.5rem;
  --font-size-4xl--line-height: 3rem;
  --font-size-5xl: 3rem;
  --font-size-5xl--line-height: 1;
  --font-size-6xl: 3.75rem;
  --font-size-6xl--line-height: 1;
  --font-size-7xl: 4.5rem;
  --font-size-7xl--line-height: 1;
  --font-size-8xl: 6rem;
  --font-size-8xl--line-height: 1;
  --font-size-9xl: 8rem;
  --font-size-9xl--line-height: 1;

  --color-background: #0d3140;
  --color-card: #2e586a;
  --color-primary-dark: #154255;
  --color-primary: #28827a;
  --color-primary-light: #6fb6b0;
  --color-secondary: #f7c619;
  --color-secondary-light: #fff496;
  --color-ternary-dark: #86ae21;
  --color-ternary: #afd257;
  --color-ternary-light: #ceee80;
  --color-error: #ba1a1a;

  --animate-fade-in: fade-in 0.5s linear forwards;
  --animate-marquee: marquee var(--marquee-duration) linear infinite;
  --animate-spin-slow: spin 4s linear infinite;
  --animate-spin-slower: spin 6s linear infinite;
  --animate-spin-reverse: spin-reverse 1s linear infinite;
  --animate-spin-reverse-slow: spin-reverse 4s linear infinite;
  --animate-spin-reverse-slower: spin-reverse 6s linear infinite;

  --radius-4xl: 2rem;
  --radius-5xl: 2.5rem;

  --max-width-2xl: 40rem;

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes marquee {
    100% {
      transform: translateY(-50%);
    }
  }
  @keyframes spin-reverse {
    to {
      transform: rotate(-360deg);
    }
  }
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: block;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}

@layer base {
  #__next {
    min-height: 100%;
  }
}
